# Not public
*.np.*
***.env

# Python
**/__pycache__/
**/.pytest_cache/

# VS Code
.vscode/
.vs/

# Jupyter Notebook
**/.ipynb_checkpoints/
*checkpoint.ipynb

# Log files
**/logs
***.log

# Temp files
temp/