// COLORS
$main-bg-color: #eee4e4;
$dark-bg-color: #242424;

// PAGES
$page-padding: 1rem;

// FONTS
$main-theme-font-color: #2c2c2c;
$dark-theme-font-color: #ffffff;

// ERRORS
$error-color: #e24c4c;
