@media screen and (max-width: 768px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 80%;
  }
}
